.barra {
  background-color: #494592;
  color: burlywood;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.botones {
  background-color: burlywood;
  margin-right: 3%;
  font-size: 75%;
  width: auto;
  height: 60%;
}

.titulo {
  font-size: 150%;
}

.botones:hover {
  background-color: rgb(246, 159, 19);
}

.boton-pequeño:hover {
  background-color: rgb(127, 95, 246);
}

.active {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: background-color 2s;
}

.active2 {
  color: black;
  font-weight: bold;
  transition: background-color 2s;
  animation-name: cambio-color;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes cambio-color {
  0% {
    background-color: burlywood;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: burlywood;
  }
}

.usuario {
  margin-top: 2vh;
  margin-left: 5px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .barra {
    flex-wrap: wrap;
  }

  .left-section {
    margin-bottom: 10px;
  }

  .right-section {
    flex-basis: 100%;
    justify-content: flex-end;
  }
}
