.barra {
  background-color: #494592;
  color: burlywood;
}

.example-spacer {
  flex: 1 1 auto;
}

.botones {
  background-color: burlywood;
  margin-right: 3%;
  font-size: 75%;
  width: 15%;
  height: 60%;
}

.titulo {
  font-size: 150%;
}

.botones:hover {
  background-color: rgb(246, 159, 19);
}

.boton-pequeño:hover {
  background-color: rgb(127, 95, 246);
}

.active {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: background-color 2s;
}

.active2 {
  color: black;
  font-weight: bold;
  transition: background-color 2s;
  animation-name: cambio-color;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes cambio-color {
  0% { background-color: burlywood; }
  50% { background-color: white; }
  100% { background-color: burlywood; }
}

.usuario {
  margin-top: 2vh;
}
