<div class="contenedor" fxLayout="column" fxLayoutAlign="space-around center">
  <button
    routerLink="/inicio/mis-reservas"
    mat-button
    style="color: #494592"
    class="botones"
  >
    Mis Reservas
  </button>
  <button
    routerLink="/inicio/reservar-clase"
    mat-button
    style="color: #494592"
    class="botones"
  >
    Reservar Clase
  </button>
  <br />
  <button
    routerLink="/inicio/usuarios/crear-usuario"
    mat-button
    style="color: burlywood"
    class="botones2"
  >
    Crear Clase
  </button>
</div>
