.tabla-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Centra la tabla horizontalmente */
  padding: 0 20px; /* Agrega un margen izquierdo y derecho de 20px */
}

.titulo-container {
  margin-top: 20px;
}

