<div fxLayout="row" fxLayoutAlign="start stretch" fxFill>

  <!-- Columna izquierda -->
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    style="background-color: #494592"
    fxFlex="65"
  >
    <img src="./assets/img/logo.svg" />
  </div>

  <!-- Columna derecha -->

  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    style="background-color: burlywood"
    fxFlex="auto"
  >
    <div>
      <h1 class="login">Login</h1>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <br />
    <div>
      <button mat-raised-button style="background-color: #494592; color: white">
        Ingresar
      </button>
    </div>
  </div>

</div>
