<div class="box">
  <!-- Columna izquierda -->
  <div class="one">
    <div class="one-content"><img src="./assets/img/logo.svg" /></div>
  </div>

  <!-- Columna derecha -->
  <div class="two">
    <div *ngIf="!recuperar" class="two-content">
      <!-- Contenido de la segunda columna -->
      <div class="login-wrapper">
        <div>
          <mat-icon class="login"
            ><span class="material-symbols-outlined"> person </span></mat-icon
          >
        </div>
        <div>
          <h1 class="login">Login</h1>
        </div>

        <!-- Empieza el form -->
        <div>
          <form
            [formGroup]="form"
            (ngSubmit)="onEntrar()"
            style="display: flex; flex-direction: column"
          >
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required/>
              <mat-error *ngIf="form.controls['email'].hasError('required')">{{
                getErrorMessageRequired()
              }}</mat-error>
              <mat-error *ngIf="form.controls['email'].hasError('email')">{{
                getErrorMessageEmail()
              }}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                type="button"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="form.controls['password'].hasError('required')"
                >{{ getErrorMessageRequired() }}</mat-error
              >
            </mat-form-field>

            <!-- Botón Enviar -->
            <button
              mat-raised-button
              [disabled]="form.invalid"
              [ngStyle]="{
                'background-color': form.invalid
                  ? 'rgb(183, 183, 183)'
                  : '#494592',
                color: form.invalid ? '#d4d4d4' : '#FFFFFF'
              }"
              type="submit"
            >
              <span *ngIf="!loading">Entrar</span>
              <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
            </button>

            <!-- Registro -->
            <div>
              <br />
              <p
                style="
                  font-size: 12px;
                  color: rgb(0, 0, 0);
                  margin-top: 2%;
                  text-align: center;
                "
              >
                ¿No tienes cuenta?
                <span
                  ><a
                    (click)="cambiarValor()"
                    style="font-weight: bold"
                    routerLink="../inicio/crear-usuario"
                    >Regístrate</a
                  ></span
                >
              </p>
            </div>

            <!-- Recuperar contraseña -->
            <div>
              <br />
              <p
                style="
                  font-size: 12px;
                  color: rgb(88, 88, 88);
                  text-align: center;
                "
              >
                <a
                  (click)="activaRecuperar()"
                  style="font-weight: bold"
                  routerLink="login"
                  >Recuperar contraseña</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="recuperar" class="two-content">
      <!-- Contenido de la segunda columna -->
      <div class="login-wrapper">
        <div>
          <h1 class="login">Recuperar Contraseña</h1>
        </div>

        <div>
          <form
            [formGroup]="form2"
            (ngSubmit)="onRecuperar()"
            style="display: flex; flex-direction: column"
          >
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="form2.controls['email'].hasError('required')">{{
                getErrorMessageRequired()
              }}</mat-error>
              <mat-error *ngIf="form2.controls['email'].hasError('email')">{{
                getErrorMessageEmail()
              }}</mat-error>
            </mat-form-field>

            <!-- Botón Enviar -->
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
              "
            >
              <div style="margin-right: 2%">
                <button
                  style="height: 50px"
                  mat-raised-button
                  [disabled]="form2.invalid"
                  [ngStyle]="{
                    'background-color': form2.invalid
                      ? 'rgb(183, 183, 183)'
                      : '#494592',
                    color: form2.invalid ? '#d4d4d4' : '#FFFFFF'
                  }"
                  type="submit"
                >
                  Aceptar
                </button>
              </div>
              <div>
                <button
                  mat-raised-button
                  style="
                    background-color: #494592;
                    color: #ffffff;
                    height: 50px;
                  "
                  type="button"
                  (click)="cancelar()"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
